.app {
  display: flex;
  flex-direction: column;

  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
  }

  .character-section {
    flex: 0.3;
    display: flex;
  }

  .fighting-grid-section {
    flex: 0.7;
  }
}
